    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Welcome to the front page of the iGEM Team Heidelberg 2020!</h2>
              <br/>

              <div class="lead">
              <p>Are you a student wondering whether iGEM is right for you? Then you have come to the right place.</p>
              <p>We are looking for motivated students of all scientific disciplines and beyond, and let us tell you,
                iGEM is – indeed – very much right for you.
              </p>

              <p>We are a studend-led team of biologists, mathematicians and physicists (and some friendly PhD students)
                competing in iGEM – the
                <a href="https://2020.igem.org/Main_Page">
                  <b>i</b>nternational <b>G</b>enetically <b>E</b>ngineered <b>M</b>achine competition
                </a>
              </p>
              <p>
                The iGEM competition unites the fields of biology, mathematics and physics in setting up and going through
                massively interdisciplinary projects, centered on synthetic biology. These range from straight up protein
                engineering to setting up complete systems involving software, cells and microfluidic hardware. 
              </p>
              <p>
                Heidelberg looks back on a very long and successful history of participating in iGEM.
                Over the years, Heidelberg iGEM Teams have won the Grand Prize multiple times, not to mention the many
                special and track prizes won by Heidelberg over the years.
              </p>
              <p>
                Now, we want to follow in their footsteps and shape iGEM Heidelberg anew, more interdisciplinary than ever before.
              </p>
              <br/>
              <p>
                And for that, we need <b>your</b> help!
              </p>
              <p>
                Want to join? Then send us your application to <a href="mailto:igemhd@protonmail.com">igemhd@protonmail.com</a>.
                We're looking forward to meeting you on December 12th.
              </p>

              <br/>
            </div>
              </div>
        </div>
    </section>
